*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}

html, body{
    font-family:helvetica, sans-serif;
    font-size: 1rem;
    color: #000;
    background-color: #f5f5f5;
}
header nav{
    background-color: #000;
    padding: 10px 0;

}

header nav .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav .logo{
    color: #fff;
    text-decoration: none;
}
header nav .menu ul li a{
    color: #fff;
    text-decoration: none;
    font-weight:bold;
    font-size: 1.2rem;
}
header .hero{
    background-image: url('../Img/principal.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

body a#aId{
   
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    display: flex;
    justify-content: center;
    
  
    
}

header .hero #formSearch{
    display: flex;
    justify-content: center;
    align-items: center;
}

header .hero #formSearch input{
    width: 70vw;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0, .3);
    text-align: center;
}

main{
    margin: 20px 0px;
}

main .container h3 {
    font-size: 2rem;
    margin-bottom: 20px;
}

main .container .pratos{
    display: flex;
    flex-direction: column;
}

.prato {
    background-color: #fff;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow:  1px 1px 3px rgba(0,0,0, .3);;
    transition: 0.3s ease;
}

.prato:hover{
    background-color: #f5f5f5;

}
.prato img {
    border-radius: 5px 5px 0px 0px;
    margin-bottom: 10px;
}

.prato h4 {
    padding: 0px 20px;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.prato p {
    padding: 0px 20px;
    font-size: 1rem;
}

.prato button {
    width: 50%;
    margin: 20px auto;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0, .3);
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    box-shadow: 1px 1px 3px rgba(0,0,0, .3);
    transition: 0.3s ease;
}

.prato button:hover{
    background-color: #dedede;
    color: #000;
}

footer{
    font-size: 10px;
    padding: 10px 0px;
}
footer .container p{
    text-align: center;
    font-weight: bold;
}
.hero-sobre{
    height: 300px;
    background-color: #111;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-sobre .container{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (min-width: 600px){
    main .container .pratos{
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    main .container .pratos .prato{
        width: 300px;
    }
}

/*Modal */
.modal{
    position: fixed;
    width: 70%;
    left: 15%;
    top: 40%;
    background: #fff;
    padding: 40px;
    border-radius: 1px 1px 3px rgba(0,0,0, .3);
}
/*Form Product*/
.form-group{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-control {
    padding:4px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0, .3);
    background: #fff;
    box-shadow:  1px 1px 3px rgba(0,0,0, .3);
}

/* Botões, Quero este prato/ Finalizar Pedido/Cancelar*/
.btn {
    border:none;
    padding: 10px;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 5px;
    box-shadow:  1px 1px 3px rgba(0,0,0, .3);
    cursor: pointer;
}

.btn:hover {
    opacity: 0.85;
}

.btn-success {
    background: green;
    color: #fff;
}

.btn-danger {
    background: red;
    color: #fff;

}


/* para esconder o formulário da tela*/
.hide{
    display: none;

}

/*container */
.container{
    width: 90vw;
    margin: 0px auto;
}
/*Estilização do propaganda do Ifood*/
#id{
    width: 100%;
}
/*** Area Fale Conosco *****/
.footer-main-top-section{
    font-size: 12px;
}

@media only screen and (max-width: 950px) {
    .footer-main-top > * + * {
        margin-top: 60px;
    }
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block;
}
*{
    box-sizing: border-box;
}
section {
    display: block;
    unicode-bidi: isolate;
}
.footer-main {
    background-color: #f0eff8;
    color: #000;
    padding-bottom: 45px;
}
*, *::before, *::after {
    box-sizing: border-box;
}
.icon-instagram2:before {
    content: "\e902";
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon-site' !important;
    speak-as: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.footer-main-top-section-social a {
    display: block;
    font-size: 22px;
    color: #111;
    margin-right: 15px;
}
a {
    text-decoration: none;
    color: inherit;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}
li {
    text-align: -webkit-match-parent;
}
.footer-main-top-section-social {
    display: flex;
    align-items: center;
    margin-top: 20px;
    list-style: outside none;
    padding: 0;
}
ul {
    list-style-type: disc;
}
.footer-main-top-section {
    font-size: 14px;
}
.icon-facebook2:before {
    content: "\e901";
}
.icon-youtube2:before {
    content: "\e905";
}
[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon-site' !important;
    speak-as: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.esgotado {
    opacity: 0.5;
    filter: grayscale(100%);
    position: relative;
}

.tag {
    background: red;
    color: white;
    padding: 4px 8px;
    font-size: 12px;
    position: absolute;
    top: 10px;
    right: 10px;
}